.categories {
    .category-card {
        .category-image {
            height: calc(calc(calc(100vh - 340px) * 9) / 16) !important;
            width: 100%;
            border-radius: $spacer;
            object-fit: cover;
        }
        .overlay {
            background: linear-gradient(0deg, rgba(36, 45, 60, 0.46), rgba(36, 45, 60, 0.66));
        }
    }
}
